---
import terminalIcon from './terminal-icon.module.css';
interface Props {
	name: string;
	src: string;
	color: string;
}
const { name, src, color } = Astro.props;
---

<div class={terminalIcon.base} style=`--icon-color: ${color};`>
	<img src=`${src}` alt=`${name}` class="h-[60px] w-[auto] max-w-[100px] object-cover">
	<span class={terminalIcon.name} >{name}</span>
</div>
